<div id="<%= dom_id schedule %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= schedule.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start:</strong>
    <%= schedule.start %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End:</strong>
    <%= schedule.end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Manicurist:</strong>
    <%= schedule.manicurist_id %>
  </p>

</div>
