<div class=" p-10">
    <ul class="hidden md:visible text-gray-600 text-lg font-light md:flex justify-center gap-10 px-8 py-4">
            <h1 class="absolute left-10 top-3 "><%= image_tag "LOGO3.png", class:" h-24 w-24 " %></h1>
            
          <li class="md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
               <path fill-rule="evenodd" d="M2 2.75A.75.75 0 0 1 2.75 2h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 2.75Zm0 10.5a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75ZM2 6.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 6.25Zm0 3.5A.75.75 0 0 1 2.75 9h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 9.75Z" clip-rule="evenodd" />
            </svg>
          </li>
        <li class="hover:bg-red-300"><%= link_to'HOME', root_path %></li>
        <li class="hover:bg-red-300">ABOUT</li>
        <li class="hover:bg-red-300">PAGES</li>
        <li class="hover:bg-red-300"><%= link_to 'SERVICES', services_path %></li>
        <li class="hover:bg-red-300">CONTACT US</li>
          
              <li><%= link_to 'BOOK NOW', new_booking_path, class:" bg-pink-600 hover:bg-pink-700 text-white px-6 py-3 rounded-lg shadow-lg transition-all"%></li>
                <%= link_to "Login ",  new_session_path unless authenticated?  %>
             <li class=" text-white bg-red-500 py-1 px-3"><%= button_to "Log out", session_path, method: :delete if authenticated? %></li>











    </ul>
</div>

<div class=" mobile navigation mx-auto py-6">

  <div class="hidden sm:hidden">
       <%= 
            items = [
              ["home",root_path],
              ["CONTACT US"],
              ['BOOK NOW', new_booking_path],
              ['login',new_session_path]
  
  
        ] %>
  </div>
  
    <h1 class="absolute left-8 top-3 "><%= image_tag "LOGO3.png", class:" h-24 w-24 " %></h1>

   <%= select_tag nil, options_for_select(items, request.path), class: "sm:hidden  mt-8 w-80 border border-1 text-center py-2 bg-white", onChange: "Turbo.visit(this.selectedOptions[0].value)" %>

  <ul class="hidden ">
      <% items.each do |text,path| %>
          <li><%=  link_to text, path %></li>

        <% end %>

  </ul>

   




</div>

